##CLIENT_IP## - - [##TIMESTAMP##:##TIMESTAMP_MILLISECOND## +0000] "##HTTP_METHOD## /oldlink?item_id=##ITEM_ID##&JSESSIONID=##JSESSIONID## HTTP 1.1" ##WEB_SERVER_STATUS## ##CONTENT_SIZE## "http://www.buttercupenterprises.com/oldlink?&item_id=##ITEM_ID##" "##USER_AGENT##" ##TIME_TAKEN##